@keyframes slideDownToUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeftToRight {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes easySlideLeftToRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRightToLeft {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes easySlideRightToLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide-up,
.slide-up-delayed {
  animation: slideDownToUp 2s ease forwards;
}
.slide-left-to-right {
  animation: slideLeftToRight 2s ease forwards;
}
.easy-slide-left-to-right {
  animation: easySlideLeftToRight 1s ease forwards;
}
.easy-slide-right-to-left {
  animation: easySlideRightToLeft 1s ease forwards;
}
.slide-right-to-left {
  animation: slideRightToLeft 2s ease forwards;
}
.fade-in {
  animation: fadeIn 2s ease forwards;
}
