@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  margin: 0;
  background: #171719;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* HEADER */

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  color: #fff;
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 15vw;
  text-align: center;
}

.container {
  max-width: 960px;
  padding: 0 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(23, 23, 25, 0.85);
  z-index: 1;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 75px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 30px;
  display: block;
  padding-bottom: 2rem;
}

/* ABOUT SECTION */

.about-section {
  padding: 30px 50px 50px 50px;
  background: #171719;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.about-section .container {
  max-width: 750px;
}
.about-section .container h1 {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 50px;
}
.about-section .container p {
  text-align: left;
  font-size: 1.3rem;
}
.about-section .container img {
  padding-top: 20px;
  width: 600px;
  height: auto;
}

/* VEHICLES SECTION */

.vehicles-section {
  padding: 20px 0;
  background: #0c0c0d;
  color: white;
}

.vehicles-section .container h1 {
  color: white;
  font-size: 3rem;
  margin-top: 50px;
}

.card-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5vw 0;
}

.card {
  margin: 10px 30px;
  width: 250px;
  height: 300px;
  border: 3px solid white;
  border-radius: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 50%;
  height: auto;
}

.card h2 {
  font-size: 1.6rem;
  margin-top: 30px;
}

.card-lpg-img {
  margin: 20px 0 15px 0;
  width: 55%;
  height: 26%;
  border: 4px solid white;
  border-radius: 1rem;
}

.card-lpg-img h2 {
  margin-top: 8px;
  font-size: 2.5rem;
}
.card:nth-child(1) img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.card:nth-child(5) h2 {
  font-size: 1.5rem;
}

/* PRICING SECTION */
.pricing-section {
  background: #171719;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: 50px 0 100px 0;
}
.pricing-section .container h1 {
  font-size: 3rem;
  color: white;
  padding: 50px 0;
}

.price-holder {
  max-width: 1200px;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-holder:nth-child(even) {
  background: #0c0c0d;
}
.description {
  width: 60%;
  text-align: center;
  margin: 15px;
}
.description p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.price {
  width: 15%;
  text-align: center;
  margin: 15px;
  margin-right: 0;
}

.price h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

/* MEDIA QUERIES */

@media (max-width: 1500px) {
  .about-section .container h1 {
    text-align: center;
  }
  .about-section .container p {
    text-align: center;
  }
}

@media (max-width: 960px) {
  .container {
    padding: 0 3rem;
    width: 75vw;
  }
  .header-content h1 {
    font-size: 8vw;
    margin-bottom: 0;
  }
  .header-content p {
    font-size: 3vh;
    display: block;
    padding-bottom: 2rem;
  }
  .about-section .container {
    padding: 0;
  }
  .about-section .container p {
    font-size: 2vw;
  }
  .about-section .container img {
    width: 100%;
    height: auto;
  }
  .vehicles-section .container {
    padding: 0;
  }
}
@media (max-width: 450px) {
  .about-section .container h1 {
    font-size: 2rem;
    margin-bottom: 25px;
  }
  .vehicles-section .container h1 {
    font-size: 2rem;
  }
  .description {
    margin-left: 0;
    margin-right: 0;
  }
  .description p {
    font-size: 1rem;
  }
  .price h2 {
    font-size: 2rem;
  }
}
