@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  margin: 0;
  background: #171719;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.container h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}

/* HEADER */

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  color: #fff;
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 15vw;
  text-align: center;
}

.container {
  max-width: 960px;
  padding: 0 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(23, 23, 25, 0.85);
  z-index: 1;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 75px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 30px;
  display: block;
  padding-bottom: 2rem;
}

/* ABOUT SECTION */

.about-section {
  padding: 30px 50px 50px 50px;
  background: #171719;
  color: white;
}
.about-section .containers-holder {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.about-section .container {
  max-width: 750px;
  flex: 1 1 600px;
}
.about-section .container h1 {
  text-align: center;
  margin: 30px 0 50px 0;
}
.about-section .container h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}
.about-section .container p {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5;
}
.about-section .container img {
  padding-top: 20px;
  width: 600px;
  height: auto;
}

/* EMPLOYEES SECTION */
.employees-section {
  background: #171719;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  padding: 30px 50px 50px 50px;
}
.employees-section .description {
  margin: 0 20px;
  max-width: 750px;
  flex: 1 1 600px;
}
.employees-section .description h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0 30px 0;
  color: white;
}
.employees-section .description p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: white;
}
.employees-cards-holder {
  max-width: 750px;
  flex: 1 1 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.employee-card {
  margin: 15px;
  max-width: 250px;
  flex: 1 1 150px;
  background: #0c0c0d;
  border-radius: 1rem;
}
.employee-card img {
  height: auto;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.employee-card p {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0 10px;
}

/* VEHICLES SECTION */

.vehicles-section {
  padding: 20px 0;
  background: #0c0c0d;
  color: white;
}

.vehicles-section .container h1 {
  margin-bottom: 0px;
  margin-top: 50px;
}

.card-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5vw 0;
}

.card {
  margin: 10px 30px;
  width: 250px;
  height: 300px;
  border: 3px solid white;
  border-radius: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 50%;
  height: auto;
}

.card h2 {
  font-size: 1.6rem;
  margin-top: 30px;
}

.card-lpg-img {
  margin: 20px 0 15px 0;
  width: 55%;
  height: 26%;
  border: 4px solid white;
  border-radius: 1rem;
}

.card-lpg-img h2 {
  margin-top: 8px;
  font-size: 2.5rem;
}
.card:nth-child(1) img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.card:nth-child(5) h2 {
  font-size: 1.5rem;
}

/* PRICING SECTION */
.pricing-section {
  background: #171719;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: 50px 0 100px 0;
}
.pricing-section .container {
  padding: 0;
  margin: 0;
}
.pricing-section table {
  border-collapse: collapse;
  width: 60vw;
  border: 3px solid white;
  box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.2),
    -1px -1px 8px rgba(255, 255, 255, 0.2);
  margin-bottom: 50px;
}
.pricing-section tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.pricing-section tr:nth-child(even) {
  background: #0c0c0d;
}
.pricing-section tr:nth-child(odd) {
  background: #171719;
}
.pricing-section tr:hover {
  transform: scale(1.02);
}
.pricing-section td {
  color: white;
  font-size: 1.2rem;
  padding: 12px 25px;
  text-align: left;
}
.pricing-section td:nth-child(2) {
  font-weight: 600;
  white-space: nowrap;
}
.pricing-section .table-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}

/* CONTACT SECTION */

.contact-section {
  padding: 20px 0;
  background: #0c0c0d;
  color: white;
}
.contact-section h1 {
  padding-top: 30px;
}
.contact-holder {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  padding: 30px 0 50px 0;
}
.contact-holder iframe {
  margin: 0;
  padding: 30px;
  border: none;
  flex: 1 1 750px;
  height: 70vh;
}
.contact-holder .description {
  max-width: 750px;
  flex: 1 1 300px;
  padding: 30px 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.contact-holder .description h2 {
  font-size: 3rem;
  font-weight: 800;
}
.contact-holder .description .underline {
  display: inline-block;
  border-bottom: 4px solid white;
  padding-bottom: 5px;
  width: 400px;
  margin-bottom: 40px;
}
.contact-holder .description h3 {
  font-size: 2rem;
  font-weight: 800;
  margin: 50px 0 30px 0;
}
.contact-holder .description p {
  margin: 0;
  font-size: 1.5rem;
}
.description table {
  width: 400px;
  font-size: 1.3rem;
}
.description table tr td:nth-child(2) {
  font-weight: 600;
}
.description table tr:nth-child(3) td:nth-child(2) {
  color: red;
}

/* FOOTER SECTION */
footer {
  background: #070707;
}
footer .links {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 20px 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  font-size: 3rem;
  margin: 0 30px;
}
footer img {
  width: 100px;
  height: auto;
}
footer .copyright-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 20px 0;
}
footer .copyright-holder p {
  font-size: 1rem;
  color: white;
  display: block;
  margin: 30px 50px;
}
footer .copyright {
  height: 75px;
  flex: 1 1 480px;
}
footer .signature {
  height: 75px;
  flex: 1 1 480px;
  text-align: right;
}

/* MEDIA QUERIES */

@media (max-width: 1348px) {
  .about-section .container h2 {
    text-align: center;
  }
  .about-section .container p {
    text-align: center;
  }
  .employees-section .description h2 {
    text-align: center;
  }
  .employees-section .description p {
    text-align: center;
  }
}

@media (max-width: 960px) {
  .container {
    padding: 0 3rem;
    width: 75vw;
  }
  .header-content h1 {
    font-size: 8vw;
    margin-bottom: 0;
  }
  .header-content p {
    font-size: 3vh;
    display: block;
    padding-bottom: 2rem;
  }
  .about-section .container {
    padding: 0;
  }
  .about-section .container p {
    font-size: 2vw;
  }
  .about-section .container h2 {
    font-size: 3vw;
  }
  .employees-section .description h2 {
    font-size: 4vw;
  }
  .employees-section .description p {
    font-size: 2vw;
  }
  .employee-card p {
    font-size: 1rem;
  }
  .about-section .container img {
    width: 100%;
    height: auto;
  }
  .vehicles-section .container {
    padding: 0;
  }
  .pricing-section table {
    width: 80vw;
  }
  .pricing-section .table-title {
    font-size: 1.5rem;
  }
  footer .copyright,
  footer .signature {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .about-section .container h2 {
    margin-bottom: 25px;
  }
  .employees-section .description h2 {
    margin-bottom: 20px;
  }
  .container h1 {
    font-size: 2rem;
  }
  .pricing-section table {
    width: 90vw;
  }
  .pricing-section .table-title {
    font-size: 1rem;
  }
  .pricing-section td {
    font-size: 1rem;
  }

  .contact-holder .description h2 {
    font-size: 2.5rem;
  }
  .contact-holder .description .underline {
    width: 320px;
    margin: 0;
  }
  .contact-holder .description h3 {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 50px 0 30px 0;
  }
  .contact-holder .description p {
    margin: 0;
    font-size: 1.3rem;
  }
  .description table {
    width: 300px;
    font-size: 1rem;
  }
  .contact-holder iframe {
    padding: 10px;
  }
  footer .copyright {
    height: 90px;
  }
}
@media (max-width: 390px) {
  .contact-holder .description {
    flex: 1 1 250px;
  }
  .contact-holder .description h2 {
    font-size: 2rem;
  }
  .contact-holder .description .underline {
    width: 250px;
  }
  .contact-holder .description h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 50px 0 30px 0;
  }
  .contact-holder .description p {
    margin: 0;
    font-size: 1.1rem;
  }
  .description table {
    width: 250px;
    font-size: 0.8rem;
  }
}
